{% extends "base/twocol.html" %}

{% block col1 %}

<style>
#queued_mails_info {
  background: #ECC;
  margin: 3px;
  width: 100%;
  display: none;
  float: left;
  color: #511;
  padding:10px
}


#queued_mails_fail {
  background: #ECC;
  margin: 3px;
  width: 100%;
  display: none;
  float: left;
  color: #511;
  padding:10px
}


#queued_mails_complete{
  background: #CEC;
  margin: 3px;
  width: 100%;
  display: none;
  float: left;
  color: #151;
  padding:10px
}

</style>

<div id="queued_mails_info">
  Wait a moment while the emails are being queued. Do not close this page!
</div>

<div id="queued_mails_complete">
  All emails have been queued! We may now close this page!
</div>

<div id="queued_mails_fail">
  An error have ocurred while queueing the emails.
  Inspect the database table reminder_manualnewsletter.
</div>



<button type="button" style="float:right; padding:3px; margin:3px;" id="btn_send_email">Send</button>
<button type="button" style="float:right; padding:3px; margin:3px;" id="btn_send_email_to_me">Send only to myself</button>

<script type="text/javascript">

  //putting here a script... Bam! Slap! this is old school (in a bad way!)

  //http://stackoverflow.com/questions/9162933/make-iframe-height-dynamic-based-on-content-inside-jquery-javascript
  function iframeLoaded(iframe_id) {
      var iFrameID = document.getElementById(iframe_id);
      if(iFrameID) {
            // here you can make the height, I delete it first, then I make it again
            iFrameID.height = "";
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
      }
  }
</script>


<script type="text/javascript">

        
        
      
        var url_pieces = window.location.pathname.split("/");
        var template_id = url_pieces[url_pieces.length -2];


        $( document ).ajaxError(function() {
          $("#queued_mails_info").slideUp("slow");
          $("#queued_mails_fail").slideDown("slow");
        });

        $(document).ready(function() {

          $('#btn_send_email_to_me').click(function(){
            console.log("Sending email to yourself!!! weeehhh");
            //TODO: change to authenticated user
            $.post('/reminder/templates/send_to_myself/' + template_id +'/');
          });

          $("#btn_send_email").click(
            function(){
              if(confirm("Queue all emails? This will add one email per user in the email queue.")){

                $("#queued_mails_info").slideDown("slow");

                var xhr = $.post('/reminder/send_manual_newsletter/' + template_id + '/',function(){
                  $("#queued_mails_info").slideUp("slow");
                  $("#queued_mails_complete").slideDown("slow");
                });

              }
              else{
                console.log("canceled!");
              }
            }

          );

        });

</script>


HTML Preview:
<iframe src="/reminder/templates/iframed/{{id}}/" width="100%" id="htmliframe" onload="iframeLoaded('htmliframe')"></iframe>


<br />
<br />

Plain Text preview:

<iframe src="/reminder/templates/iframed/{{id}}/?plaintext=true" width="100%" id="textiframe" onload="iframeLoaded('textiframe')" ></iframe>

{% endblock col1 %}
