{# extends "survey/base.html" #}
{% extends base_template %}
{% load i18n %}

{% block col1 %}
<p>
Tack för att du aktiverat ditt konto i Hälsorapport! Var vänlig fyll i den
kod som står tryckt på inbjudan. Ange även födelsedatumet på den som bjudits in till Hälsorapport i
formatet ÅÅÅÅ (exempelvis: 1950).<br/><br/>
</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url apps.survey.views.idcode_save %}" method="post">
{% csrf_token %}
<p>
Kod:<br><input name="idkod" id="idkod" value="{{idcode}}"/><br/>
Födelseår(ÅÅÅÅ):<br><input name="fodelsedatum" id="fodelsedatum" value="{{birthdate}}"/><br/>
<input type="submit" id="commentsubmit" value="{% trans "Save" %}"/>
<input type="HIDDEN" name="global_id" id="global_id" value="{{person.global_id}}"/>
</p>
</form>

{% endblock %}

{% block col2 %}
{# Not compatible with this version #}
{# include "accounts/partials/usermenu.html" #}

{% endblock %}
