{% extends "registration/boxbase.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Registration problem" %}{% endblock %}

{% block content %}<h1>{% trans "Registration issue" %}</h1>
                <p>{% trans "The registration code you provided with this account is already in use with another activated account." %}</p>
<br>
                <p>{% trans "This account will be de-activated. If you need help, please " %} <a href="/contact/">{% trans "contact us" %}</a>.</p>
				<p>&nbsp;</p>
                <p><a href="/">{% trans "Back to the home page" %}</a>.</p>{% endblock content %}
