{% extends "base/sitebase.html" %}

{% block add_css %}
<link type="text/css" rel="stylesheet" media="all" 
    href="{{ MEDIA_URL }}base/js/fancybox/jquery.fancybox-1.3.4.css" />

<link type="text/css" rel="stylesheet" media="all" 
    href="http://results.influenzanet.info/eu/media/sander/dropdown.css" />
<link type="text/css" rel="stylesheet" media="all" 
    href="http://results.influenzanet.info/eu/media/sander/style.css" />
<link type="text/css" rel="stylesheet" media="all" 
    href="http://results.influenzanet.info/eu/media/sander/slides/style.css" />
{% endblock %}

{% block add_js %}
<script type="text/javascript" 
    src="{{ MEDIA_URL }}base/js/fancybox/jquery.fancybox-1.3.4.pack.js">
</script>
<script type="text/javascript" 
    src="{{ MEDIA_URL }}base/js/fancybox/jquery.mousewheel-3.0.4.pack.js">
 </script>

<script type="text/javascript" 
    src="http://results.influenzanet.info/eu/media/sander/slides/slides.js">
</script>

<script type="text/javascript" 
    src="http://results.influenzanet.info/eu/media/sander/fancybox.js">
</script>
<script type="text/javascript" 
    src="http://results.influenzanet.info/eu/media/sander/dropdown.js">
</script>
<script type="text/javascript" 
    src="http://results.influenzanet.info/eu/media/sander/slides.js">
</script>
{% endblock %}

{% block content %}
{{ content|safe }}
{% endblock content %}

