/*
Placeholder for custom css
*/

/* Main */

html body {
 font-family: Verdana, Geneva, sans-serif;
 line-height: 1.2em;
 font-size: 1.2em;
 -webkit-text-size-adjust: none;
 color: #000000;
 background: #d5d5d5;
}

table.imagetable th {
 background: #0085B0;
 color: #FFFFFF;
 border-width: 1px;
 padding: 8px;
 border-style: solid;
 border-color: #999999;
}

#menubar li.selected,
#menubar li.ancestor {
 padding: 0 0px 0 0px; 
 background: #0085b0;
 font-weight: bold;
 color: #ffffff;
}

/* Influenzabar (moved to footer) */
#influenzabar {
	background-image: url("../img/influbar.gif");
}

#influenzabar img {
	margin: 0;
	display: inline;
}

#influenzabar p.toggle {
	background-image: url("../img/influbar-closed.gif");
}

#influenzabar p.expanded {
	background-image: url("../img/influbar-opened.gif");
}

#footer #influenzabar .toggle a {
	color: #C8C8C8;
	font-size: 11px;
	font-weight: normal;
}

div.influenzabarcontent {
	width: 950px;
	border-left: none;
	border-right: none;
}