/*
Placeholder for custom css
*/

/* Main */

html body {
 font-family: Verdana, Geneva, sans-serif;
 line-height: 1.2em;
 font-size: 1.2em;
 -webkit-text-size-adjust: none;
 color: #000000;
 background: #d5d5d5;
}

table.imagetable th {
 background: #0085B0;
 color: #FFFFFF;
 border-width: 1px;
 padding: 8px;
 border-style: solid;
 border-color: #999999;
}

#menubar li.selected,
#menubar li.ancestor {
 padding: 0 0px 0 0px; 
 background: #0085b0;
 font-weight: bold;
 color: #ffffff;
}

/* Influenzabar (moved to footer) */
#influenzabar {
	background-image: url("../img/influbar.gif");
}

#influenzabar img {
	margin: 0;
	display: inline;
}

#influenzabar p.toggle {
	background-image: url("../img/influbar-closed.gif");
}

#influenzabar p.expanded {
	background-image: url("../img/influbar-opened.gif");
}

#footer #influenzabar .toggle a {
	color: #C8C8C8;
	font-size: 11px;
	font-weight: normal;
}

div.influenzabarcontent {
	width: 950px;
	border-left: none;
	border-right: none;
}

/* Pollster */
textarea.user-field {
	width: 98%;
}

/* Survey ID-code form */
#fodelsedatum {
	margin-bottom: 0.5em; 
}

/* Captcha */
#box img.captcha {
    margin: 0;
}

.help-text {
	color: #AAAAAA;
	font-size: 0.7em;
    line-height: 1.2em;
}

form.contact_form img.captcha {
	clear: left;
	float: left;
}

form.contact_form input#id_captcha_1 {
	float: left;
	margin-left: 0.5em;
}

form.contact_form .helptext {
	clear: left;
	float: left;
}

#col1 form.contact_form ul.errorlist {
	clear: left;
	float: left;
}

#col1 form.contact_form ul.errorlist li {
    clear: both;
    color: #FF0000;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 10px 0 0;
    padding: 0;
}