{% load i18n cms_tags menu_tags %}

<p class="title">{% trans "Latest news" %}</p>
{% for news in latest %}
	<h2>{{ news.title }}</h2>
	<p>
    {% if news.image %}<img src="{% url journal_thumbnail slug=news.slug %}" {% if news.alignment %}align="{{ news.alignment }}"{% endif %} alt="{{ news.title }}" class="journalimgsmall" />{% endif %}
    <strong>{{ news.excerpt }}</strong>
    <a href="{% page_url "news" %}{{ news.get_relative_url }}">{% trans "Read more..." %}</a></p><hr />

{% empty %}
	<h2>{% trans "No news yet" %}</h2>
{% endfor %}
