{% extends "contact_form/base.html" %}
{% load cms_tags i18n %}

{% block add_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}custom/js/captcha-refresh.js"></script>
{% endblock add_js %}

{% block col1 %}

{% placeholder "Main content" %}

<form method="post" action="" class="contact_form">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="commentsubmit" value="{% trans "Send" %}" />
</form>

{% endblock col1 %}
