{% if already_done %}
<p class="specialitem"><span class="boldred">U hebt de grafiekvoorspelling ingezonden.</span><br /><strong>U doet automatisch mee met de prijsvraag, de winnaars worden in mei 2012 bekend gemaakt.</strong></p><br />{% endif %}
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" 
width="770" height="470" id="prijs_grafiek" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="{{ MEDIA_URL }}contest/{{ filename }}.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed src="{{ MEDIA_URL }}contest/{{ filename }}.swf" quality="high" bgcolor="#ffffff" width="770" height="470" 
name="{{ filename }}" align="middle" allowScriptAccess="sameDomain" 
type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
